body {
    background-color:#c4cbd6;
    font-family: 'Georgia';
}
header {
    font-family: 'Alegreya Sans SC';
    text-align: center;
}
h1 {
    background-color:#0b4aaf;
    color: #c4cbd6;
    padding: 30px;
}
nav {
    font-size: 22px;
    margin-top: 20px;
}
.navItem {
    background-color:#F0F8FF;
    text-decoration: none;
    border: 3px solid #0b4aaf;
    border-radius: 20px;
    padding: 15px;
}

.content {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.leftContent, .rightContent {
    display: flex;
    flex-direction: column; 
    padding: 20px;
}

.imgContent {
    width: 80%;
}

footer {
    background-color:#0b4aaf;
    color: #ffffff;
    text-align:center;
    padding:10px;
    margin-top:7px;
    font-size:14px;
}

.input {
    font-size: 14px;
    padding: 10px;
    width: 300px;
    border: 2px solid #0b4aaf;
    border-radius: 5px;
}

.sendButton {
    font-size: 22px;
    text-align:center;
    padding:15px;
    background-color:#F0F8FF;
    border: 2px solid #0b4aaf;
    border-radius: 20px;
}

.sendButton:disabled {
    background-color:#c4cbd6;
}

.validationMessage {
    color: red;
    font-size: 14px;
    
}